<div>
  <div>
      <div class="float-left">
        <h3>Materiais e ferramentas</h3>
      </div>
      <div class="float-right">
        <button type="button" class="btn btn-default" (click)="initAddMaterial()" [disabled]="adding || editing"><fa-icon [icon]="faPlus"></fa-icon></button>
      </div>
    </div>
  <div>
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Tipo</th>
              <th scope="col">Descrição</th>
              <th scope="col">Tipo Unidade</th>
              <th scope="col">Preço (R$)</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let material of materials; let i = index;" [attr.data-index]="i">
              <tr *ngIf="material.id != editingMaterial.id">
                  <th scope="row">{{material.id}}</th>
                  <td>{{material.tipoMaterial}}</td>
                  
                  <td>{{material.descricaoMaterial}}</td>
                  <td>{{material.tipoUnidade}}</td>
                  <td>{{material.valorUnidade}}</td> 
                  <td><div class="btn-group" role="group" style="width: 100%;">
                    <button type="button" class="btn btn-warning" (click)="startUpdate(i)" [disabled]="adding || editing"><fa-icon [icon]="faEdit" [inverse]="true"></fa-icon></button>
                    <button type="button" class="btn btn-secondary" (click)="deleteMaterial(i)" [disabled]="adding || editing"><fa-icon [icon]="faTrash"></fa-icon></button>
                  </div></td> 
                </tr>
              <tr *ngIf="material.id == editingMaterial.id">
                <th scope="row">{{editingMaterial.id}}</th>
                <td><input [(ngModel)]="editingMaterial.tipoMaterial" /></td>
                <td><input [(ngModel)]="editingMaterial.descricaoMaterial" /></td>
                <td><input [(ngModel)]="editingMaterial.tipoUnidade" /></td>
                <td><input [(ngModel)]="editingMaterial.valorUnidade" /></td>
                <td><div class="btn-group" role="group" style="width: 100%;">
                    <button type="button" class="btn btn-warning" (click)="updateMaterial()"><fa-icon [icon]="faSave" [inverse]="true"></fa-icon></button>
                    <button type="button" class="btn btn-secondary" (click)="resetUpdate()"><fa-icon [icon]="faTimesCircle"></fa-icon></button>
                  </div></td>
                </tr>
            </ng-container>
            <tr *ngIf="adding">
                <th scope="row">{{editingMaterial.id}}</th>
                <td><input [(ngModel)]="editingMaterial.tipoMaterial" /></td>
                <td><input [(ngModel)]="editingMaterial.descricaoMaterial" /></td>
                <td><input [(ngModel)]="editingMaterial.tipoUnidade" /></td>
                <td><input [(ngModel)]="editingMaterial.valorUnidade" /></td>
                <td><div class="btn-group" role="group" style="width: 100%;">
                    <button type="button" class="btn btn-warning" (click)="saveMaterial()"><fa-icon [icon]="faSave" [inverse]="true"></fa-icon></button>
                    <button type="button" class="btn btn-secondary" (click)="resetAdd()"><fa-icon [icon]="faTimesCircle"></fa-icon></button>
                  </div></td>
            </tr>
           </tbody>
        </table>
        <div *ngIf="(!materials || materials.length == 0) && !adding">
            <p class="text-center">Ainda não existem materiais, tente adicionar um :)</p>
        </div>
  </div>

</div>