<div>
  <div>
      <div class="float-left">
        <h3>Compras</h3>
      </div>
      <div class="float-right">
        <button type="button" class="btn btn-default" (click)="initAdd()" [disabled]="adding || editing"><fa-icon [icon]="faPlus"></fa-icon></button>
      </div>
    </div>
  <div>
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nome</th>
              <th scope="col">Data</th>
              <th scope="col">Fornecedor</th>
              <th scope="col">E-mail Fornecedor</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let compra of compras; let i = index;" [attr.data-index]="i">
              
              <tr (click)="openDetails(i)">
                  <th scope="row">{{compra.id}}</th>
                  <td><a routerLink="/compras/{{compra.id}}">{{compra.nomeCompra}}</a></td>
                  <td>{{compra.dataCompra | date : "dd MMM, yyyy"}}</td>
                  <td>{{compra.razaoSocialFornecedor}}</td>
                  <td>{{compra.emailFornecedor}}</td>
                  <td>{{compra.estadoCompra}}</td>
                </tr>
            </ng-container>
           </tbody>
        </table>
        <div *ngIf="(!compras || compras.length == 0) && !adding">
            <p class="text-center">Ainda não existem compras, tente adicionar uma :)</p>
        </div>
  </div>

</div>