<div>
  <div>
      <div class="float-left">
        <h3>Projetos</h3>
      </div>
      <div class="float-right">
        <button type="button" class="btn btn-default" (click)="initAdd()"><fa-icon [icon]="faPlus"></fa-icon></button>
      </div>
    </div>
  <div>
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nome</th>
              <th scope="col">Tipo</th>
              <th scope="col">Status</th>
              <th scope="col">Data Inicial</th>
              <th scope="col">Previsão de Término</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let projeto of projetos; let i = index;" [attr.data-index]="i">
              <tr>
                  <th scope="row">{{projeto.id}}</th>
                  <td><a routerLink="/projetos/{{projeto.id}}">{{projeto.nomeProjeto}}</a></td>
                  <td>{{projeto.tipoProjeto}}</td>
                  <td>{{projeto.statusProjeto}}</td>
                  <td>{{projeto.dataInicial | date : "dd MMM, yyyy"}}</td>
                  <td>{{projeto.previsaoTermino | date : "dd MMM, yyyy"}}</td>
                </tr>
            </ng-container>
           </tbody>
        </table>
        <div *ngIf="(!projetos || projetos.length == 0)">
          <p class="text-center">Ainda não existem projetos, tente adicionar um :)</p>
        </div>
  </div>

</div>